<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main>

      <% include ../static/partials/messages.ejs %>

      <div class="row">
        <div class="duo-col">
          <div class="container">
            <% if (wiki.private) { %>
              <h2 class="h-display">Edit Private Wiki</h2>
            <% } else { %>
              <h2 class="h-display">Edit Public Wiki</h2>
            <% } %>
            <form action="/wiki/<%= wiki.id %>/update" method="post">
              <div class="row">
                <div class="quad-col">
                  <label for="title">Wiki Title</label>
                </div>
                <div class="tri-quart-col">
                  <input value="<%= wiki.title %>" type="text" name="title" placeholder="Enter Title">
                  <small class="text-muted" id="titleHelp">must be at least 5 characters long</small>
                </div>
              </div>
              <div class="row">
                <div class="quad-col">
                  <label for="body">Wiki Body</label>
                </div>
                <div class="tri-quart-col">
                  <textarea name="body" placeholder="Enter details"><%= wiki.body %></textarea>
                  <small class="text-muted" id="bodyHelp">must be at least 10 characters long</small>
                </div>
              </div>
              <% if (wiki.private && currentUser && (currentUser.isAdmin() || (currentUser.isPremium() && currentUser.id == wiki.userId) || wiki.isCollaboratorOn(currentUser.id))) { %>

                  <div class="row">
                    <label for="switch-2" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                      <input type="checkbox" id="switch-2" class="mdl-switch__input" name="private" checked="" value="true">
                      <span class="mdl-switch__label">Make Public</span>
                    </label>
                  </div>

              <% } %>
              <div class="row">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Update</button>
              </div>
            </form>
          </div>
        </div>
        <div class="duo-col">
          <div class="container">
            <h2 class="h-display"><%= wiki.title %></h2>
            <p class="p-display-small"><%- markdownBody %></p>
          </div>
        </div>
      </div>
      <% if (wiki.private) { %>
        <div class="row">
          <div class="duo-col">
            <div class="container">
              <h4 class="h-display">Add Collaborators</h4>
              <% if(currentUser && currentUser.id == wiki.userId) { %>
                <% include ../collaborators/add.ejs %>
              <% } else { %>
                <p class="p-display">You must be the owner to add collaborators.</p>
              <% } %>
            </div>
          </div>
          <div class="duo-col">
            <div class="container">
              <h4 class="h-display">Collaborators</h4>
              <% if(collaborators) { %>
                <% collaborators.forEach((collaborator) => { %>
                  <%- include("../collaborators/show.ejs", {collaborator}) %>
                <% }) %>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
